@import './vars.scss';

.row-header,
.row-item {
  @include flexrow;
  align-items: center;
  padding: 5px 10px;
  margin: 5px 0;

  &__name {
    flex-grow: 1;
    min-width: calc(2 * $elem-width);
  }

  &__type,
  &__status {
    min-width: $elem-width;
  }
}

.row-header {
  gap: $row-gap;

  &__name {
    padding-left: 5px;
  }

  &__site {
    min-width: $site-width;
  }

  &__tag {
    cursor: pointer;
    width: fit-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
  }
}

.row-item {
  height: $height;
  background-color: white;
  border-radius: 5px;
  border: 0 solid;
  border-left-width: 0.32rem;
  transition: 0.22s;

  &__data {
    @include flexrow;
    gap: $row-gap;
  }

  &__name {
    flex-grow: 1;
  }

  &__button {
    min-width: $elem-width;
  }

  &__site {
    min-width: calc($site-width - 75px);
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}

.status {
  &__green {
    color: $green;
  }

  &__orange {
    color: $orange;
  }

  &__red {
    color: $red;
  }
}
