@import './vars.scss';

input {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  padding: 0 10px;
  height: $height;
  width: 100%;
  color: $grey;

  &:focus {
    outline: none;
    border: 1px solid #ddd;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

label,
input {
  position: relative;
  display: block;
  box-sizing: border-box;
}

label::after {
  content: attr(tests-amount);
  position: absolute;
  top: 8px;
  right: 15px;
  display: block;
}
