$row-gap: 10px;
$site-width: 300px;
$elem-width: 100px;
$green: #2ee5ac;
$orange: #ff8346;
$red: #fe4848;
$grey: #7d7d7d;
$bgcolor: #fafafa;
$height: 40px;

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin flexcol {
  display: flex;
  flex-direction: column;
}
